mat-toolbar
  .spacer
    flex: 1 1 auto

  &.header-toolbar
    .logo-link
      height: 40px

      .logo
        display: none
        height: 40px

      .logo-short
        height: 40px

      @media (min-width: 400px)
        .logo
          display: block

        .logo-short
          display: none


    .menu-nav-bar
      display: none

      .menu-link
        margin: 0 4px

    @media (min-width: 768px)
      .menu-nav-bar
        display: block

      .menu-button
        display: none
