<mat-toolbar class="header-toolbar" color="primary">
  <a class="logo-link" routerLink="/home">
    <img class="logo" src="assets/logo.svg" alt="Logo">
  </a>
  <span class="spacer"></span>
  <nav class="menu-nav-bar">
    <a class="menu-link" mat-stroked-button routerLink="/home" routerLinkActive="mat-flat-button">Home</a>
    <a class="menu-link" mat-stroked-button routerLink="/contact" routerLinkActive="mat-flat-button">Contact</a>
  </nav>
  <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home">
      Home
    </button>
    <button mat-menu-item routerLink="/contact">
      Contact
    </button>
  </mat-menu>
</mat-toolbar>
