<section class="app-contact">
  <mat-card class="contact-card">
    <mat-card-header>
      <img mat-card-avatar src="assets/avatar.png">
      <mat-card-title>Viktor Zavadil</mat-card-title>
      <mat-card-subtitle>java & javascript developer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        My email address is<img class="contact-image" src="assets/contact.svg" alt="Image of my email">. I am looking
        forward to your message :)
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="copyAddress()">Copy address to clipboard</button>
    </mat-card-actions>
  </mat-card>
</section>
